::selection {
    background-color: #535353;
    color: rgb(255, 255, 255);
}
body {
background-image: url("Images/ON-logo3.png");
background-attachment: local;
background-size: auto;
max-height: fit-content;
background-position: center top ;
}
.title h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.title h2 {
    color: black; 
    letter-spacing: -2px;
    text-align: center;
    font-variant:small-caps;
    font-family: Arial, Helvetica, sans-serif;
}
.Name {
    color: black;
    text-align: center;
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
.Motivation {
    color: #535353;
    text-align: center;
    line-height: 30px;
    margin-left: 270px;
    margin-right: 270px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.Motivation::first-letter {
    font-size: 60px;
    line-height: 1rem;
}
.CV-Foto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    mix-blend-mode: multiply;
    filter: opacity(0.8);
}
.Anlage {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2px;
    font-style: italic;
    margin-top: 220px;
    margin-left: 280px;
}
.Anlage .p0 {
    color: #000000;
}
.Anlage .p1,
.p2 {
    text-decoration: none;
    color: #8a2be28a;
    border-style: none;
    margin-bottom: 8px;
    border-width: 1px;
    border-color: black;
    padding-bottom: 2px;
}
.Anlage .p1:link :visited,
.p2:link :visited {
    background-color: #504f4f;
    padding: 6px 6px; 
    text-align: center;
    display: inline-block;
    border-style: solid;
}
.Anlage .p1:hover,
.p2:hover {
    font-size: 20px;
    color: #9e9e9e;
}


.Kontakt-info {
    text-align: center;
    color: black;
}
.Kontakt-info .p3,
.p4,
.p5 {
    color: #a39595;
    line-height: 4px;
}
.Firma-adresse {
    line-height: 4px;
    text-indent: 50px;
    margin-left: 230px;
}
.Firma-adresse .p6 {
    margin-left: 50%;
    top: 180px;
    position: absolute;
}
.title-anschreiben .p7 {
    color: #9e9e9e;
    text-indent: 50px;
    margin-left: 230px;
}
.Begrüßung .p8 {
    text-indent: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #434343;
    margin-left: 230px;
}
.Anschreiben-body1 .p9,
.p10,
.p11,
.p12,
.p13,
.p14,
.p15 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434343;
    margin-left: 280px;
    margin-right: 280px;
}
.Anschreiben-Ende .p16 {
    font-family: "Bonheur Royale", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 500%;
    margin-left: 30px;
    color: black;
    margin-top: 20px;
    margin-left: 270px;
}
.music-cover {
    display: none;
}
